/* Media content */
.media-container {
	margin: 5px 0px;
	padding: 20px;
	border: 1px solid #ddd;
	overflow: hidden;
}

.media-container .columns {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: stretch;
}

.media-container .columns .column {
	display: block;
	width: 50%;
}

.media-container .columns .column:nth-child(odd) .inner-box {
	padding: 10px 10px 10px 0px;
}

.media-container .columns .column:nth-child(even) .inner-box {
	padding: 10px 0px 10px 10px;
}

@media screen and (max-width: 860px) {
	.media-container .columns {
		display: block;
	}
	
	.media-container .columns .column {
		width: 100%;
	}
	
	.media-container .columns .column:nth-child(odd) .inner-box {
		padding: 10px 0px;
	}

	.media-container .columns .column:nth-child(even) .inner-box {
		padding: 10px 0px;
	}
}

.media-container .metadata-container {
	margin-bottom: 10px;
	border-bottom: 1px dotted #333;
}

.media-container .mediaplayer-wrapper.fullscreen {
	position: fixed;
	display: flex;
	flex-direction: column;
	justify-content: center;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	overflow: hidden;
	background: #000;
	z-index: 1;
}

.media-container .mediaplayer-container {
	position: relative;
	display: block;
	text-align: center;
}

.media-container.video .overlay-container {
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	margin: 0 auto;
	overflow: hidden;
	pointer-events: none;
}

.media-container.video .overlay-container .overlay {
	position: absolute;
	padding: 10px;
	color: #333;
	background: rgba(255, 255, 255, 0.75);
	box-sizing: border-box;
	pointer-events: all;
}

.media-container.video .overlay-container .overlay.clickable {
	cursor: pointer;
	z-index: 1;
}

.media-container.video .overlay-container .overlay.clickable:hover {
	border: 1px solid #fff;
	box-shadow: 0px 0px 1px 1px #000;
}

.media-container.video .overlay-container .overlay.icon {
	background-color: transparent;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
}

.media-container.video .overlay-container .overlay.icon.arrow {
	background-image: url("images/arrow_black.png");
}

.media-container.video .overlay-container .overlay.icon.arrow_black {
	background-image: url("images/arrow_black.png");
}

.media-container.video .overlay-container .overlay.icon.arrow_red {
	background-image: url("images/arrow_red.png");
}

.media-container.video .overlay-container .overlay.icon.arrow_blue {
	background-image: url("images/arrow_blue.png");
}

.media-container.video .overlay-container .overlay.icon.arrow_white {
	background-image: url("images/arrow_white.png");
}

.media-container.video .player {
	position: relative;
	width: 100%;
	height: 100%;
}

.media-container.audio .player {
	width: 100%;
}

.media-container.audio .overlay-container {
	min-height: 60px;
}

.media-container.audio .overlay-container .overlay {
	padding: 20px;
}

.media-container ul.notes {
	margin: 0px;
	padding: 0px;
	background: #efefef;
	list-style-type: none;
}

.media-container ul.notes li.note {
	padding: 2px 14px;
}

.media-container ul.notes li.note::after {
	content: "";
	display: block;
	clear: both;
}

.media-container ul.notes li.note:nth-child(even) {
	color: #d15318;
}

.media-container ul.notes li.note.current {
	color: #fff;
	background: #d15318;
}

.media-container ul.notes li.note.inactive {
	opacity: 0.15;
}

.media-container ul.notes li.note .time-index {
	float: right;
}

.media-container .overlay-container.hidden,
.media-container .overlay-container .overlay.hidden {
	display: none;
}

.media-container .media-controls {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	margin: 0px;
	padding: 0px;
	color: #fff;
	background: #444;
	font-size: 0px;
}

.media-container .mediaplayer-wrapper.fullscreen .media-controls {
	position: absolute;
	left: 0px;
	right: 0px;
	bottom: 0px;
	z-index: 1;
	background: rgba(0, 0, 0, 0.25);
}

.media-container .media-controls .button {
	display: block;
	margin: 0px 1px;
	padding: 16px;
	width: 0px;
	height: 0px;
	background-position: center center;
	background-size: 70%;
	background-repeat: no-repeat;
	cursor: pointer;
	vertical-align: top;
	opacity: 0.75;
	transition: opacity 0.25s;
}

.media-container .media-controls .button:first-child {
	margin-left: 0px;
}

.media-container .media-controls .button:last-child {
	margin-right: 0px;
}

.media-container .media-controls .button:hover {
	opacity: 1;
}

.media-container .media-controls .button.menu-visible {
	background-color: rgba(255, 255, 255, 0.25);
}

.media-container .media-controls .button .submenu {
	display: none;
}

.media-container .media-controls .button.menu-visible .submenu {
	display: block;
}

.media-container .media-controls .button.toggle-options-visibility {
	background-image: url("images/eye-active.png");
}

.media-container .media-controls .button.toggle-options-visibility.is-hidden {
	background-image: url("images/eye-inactive.png");
}

.media-container .media-controls .button.play-pause {
	background-image: url("images/play.svg");
}

.media-container .media-controls.playing .button.play-pause {
	background-image: url("images/pause.svg");
}

.media-container .media-controls.ended .button.play-pause {
	background-image: url("images/replay.svg");
}

.media-container .media-controls .button.stop {
	background-image: url("images/stop.svg");
}

.media-container .media-controls .button.mute {
	background-image: url("images/sound-mute.svg");
}

.media-container .media-controls.muted .button.mute {
	background-image: url("images/sound-high.svg");
}

.media-container .media-controls .button.sound {
	position: relative;
}

.media-container .media-controls .button.sound span {
	position: absolute;
	display: none;
	bottom: 100%;
	right: 100%;
	padding: 5px;
	text-align: center;
	font-size: 10px;
	background: #444;
}

.media-container .media-controls .button.sound:hover span {
	display: block;
}

.media-container .media-controls .button.sound.mute {
	background-image: url("images/sound-mute.svg");
}

.media-container .media-controls .button.sound.low {
	background-image: url("images/sound-low.svg");
}

.media-container .media-controls .button.sound.medium {
	background-image: url("images/sound-medium.svg");
}

.media-container .media-controls .button.sound.high {
	background-image: url("images/sound-high.svg");
}

.media-container .media-controls .button.sound .soundmenu {
	position: absolute;
	bottom: 100%;
	left: 0px;
	right: 0px;
	margin: 0px auto;
	padding: 10px;
	height: 100px;
	background: #444;
}

.media-container .media-controls .button.sound .soundmenu .soundmenu-wrapper {
	position: absolute;
	top: 40px;
	right: 5px;
	bottom: 5px;
	left: 5px;
}

.media-container .media-controls .button.sound .soundmenu .sound-level {
	position: absolute;
	bottom: 5px;
	left: 0px;
	right: 0px;
	margin: 0px auto;
	width: 10px;
	height: 100%;
	background: #fff;
	border-radius: 4px;
	transition: opacity 0.25s;
}

.media-container .media-controls .button.sound.mute .soundmenu .sound-level {
	background: #666;
}

.media-container .media-controls .button.sound .soundmenu .sound-level.ghost {
	background: #aaa;
}

.media-container .media-controls .button.sound .button.mute {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
}

.media-container .media-controls .button.fullscreen {
	background-image: url("images/fullscreen.svg");
}

.media-container .media-controls .progress-time {
	display: block;
	font-size: 12px;
	line-height: 32px;
}

.media-container .media-controls .progress-bar {
	position: relative;
	flex-grow: 1;
	margin: 0px 8px;
	padding: 12px 0px;
	color: #fff;
	cursor: pointer;
}

.media-container .media-controls .progress-bar .progress-bar-line {
	width: 0px;
	height: 8px;
	background: #fff;
	border-radius: 4px;
	opacity: 0.75;
	transition: opacity 0.25s;
}

.media-container .media-controls .progress-bar .progress-bar-line.length-indicator {
	position: absolute;
	width: 100%;
	background: #ddd;
}
