/* MediaNotec Composer - theme dark */
.media-container.dark .mediaplayer-wrapper.fullscreen {
	background: #000;
}

.media-container.dark.video .overlay-container .overlay {
	color: #333;
	background-image: rgba(255, 255, 255, 0.75);
}

.media-container.dark ul.notes li.note:nth-child(even) {
	color: #d15318;
}

.media-container.dark ul.notes li.note.current {
	color: #fff;
	background: #d15318;
}

.media-container.dark .media-controls {
	color: #fff;
	background: #444;
}

.media-container.dark .mediaplayer-wrapper.fullscreen .media-controls {
	background: rgba(0, 0, 0, 0.25);
}

.media-container.dark .media-controls .button.menu-visible {
	background-color: rgba(255, 255, 255, 0.25);
}

.media-container.dark .media-controls .button.toggle-options-visibility {
	background-image: url("images/eye-active.png");
}

.media-container.dark .media-controls .button.toggle-options-visibility.is-hidden {
	background-image: url("images/eye-inactive.png");
}

.media-container.dark .media-controls .button.play-pause {
	background-image: url("images/play.svg");
}

.media-container.dark .media-controls.playing .button.play-pause {
	background-image: url("images/pause.svg");
}

.media-container.dark .media-controls.ended .button.play-pause {
	background-image: url("images/replay.svg");
}

.media-container.dark .media-controls .button.stop {
	background-image: url("images/stop.svg");
}

.media-container.dark .media-controls .button.mute {
	background-image: url("images/sound-mute.svg");
}

.media-container.dark .media-controls.muted .button.mute {
	background-image: url("images/sound-high.svg");
}

.media-container.dark .media-controls .button.sound span {
	background: #444;
}

.media-container.dark .media-controls .button.sound.mute {
	background-image: url("images/sound-mute.svg");
}

.media-container.dark .media-controls .button.sound.low {
	background-image: url("images/sound-low.svg");
}

.media-container.dark .media-controls .button.sound.medium {
	background-image: url("images/sound-medium.svg");
}

.media-container.dark .media-controls .button.sound.high {
	background-image: url("images/sound-high.svg");
}

.media-container.dark .media-controls .button.sound .soundmenu {
	background: #444;
}

.media-container.dark .media-controls .button.sound .soundmenu .sound-level {
	background: #fff;
}

.media-container.dark .media-controls .button.sound.mute .soundmenu .sound-level {
	background: #666;
}

.media-container.dark .media-controls .button.sound .soundmenu .sound-level.ghost {
	background: #aaa;
}

.media-container.dark .media-controls .button.fullscreen {
	background-image: url("images/fullscreen.svg");
}

.media-container.dark .media-controls .progress-bar {
	color: #fff;
}

.media-container.dark .media-controls .progress-bar .progress-bar-line {
	background: #fff;
}

.media-container.dark .media-controls .progress-bar .progress-bar-line.length-indicator {
	background: #ddd;
}
