
body {
	padding: 0px;
	margin: 0px;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	background: #efefef;
}

.wrapper {
	max-width: 1280px;
	margin: 0px auto;
}

header {
	height: 40px;
	padding: 10px;
	color: #f00;
	background: #000;
	border-bottom: 1px solid #fff;
	overflow: hidden;
}

header img {
	float: left;
	margin-right: 30px;
	max-height: 80px;
}

header span {
	line-height: 80px;
	font-size: 42px;
	text-shadow: 1px 1px 1px #333;
}

.main {
	padding: 20px;
	background: #fff;
}

.main  {
	background: #fff;
}

.main h1  {
	margin: 0px 0px 30px 0px;
	padding: 5px 0px;
}

a {
	color: #d15318;
}
